force-app/main/default/flows/LoanRequestStatusManager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Record-triggered flow: updates Customer status when LoanStatus__c changes (Approved to Active Customer, Rejected to Requires Further Action), and creates an AuditLog entry plus a manager alert Task for loans over 250,000.</description>
    <environments>Default</environments>
    <label>Loan Request Status Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>

    <!-- TRIGGER: fires after any LoanRequest__c update where LoanStatus__c has changed -->
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <filterLogic>all</filterLogic>
        <filters>
            <field>LoanStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LoanRequest__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Check_Loan_Status</targetReference>
        </connector>
    </start>

    <!-- DECISION 1: Loan Status
         Approved  -> update Customer to "Active Customer"
         Rejected  -> update Customer to "Requires Further Action"
         Other     -> skip customer update, proceed to high-value check -->
    <decisions>
        <description>Routes the flow based on the new LoanStatus__c value</description>
        <name>Check_Loan_Status</name>
        <label>Loan Status?</label>
        <locationX>176</locationX>
        <locationY>132</locationY>
        <defaultConnector>
            <targetReference>Check_High_Value_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Status</defaultConnectorLabel>
        <rules>
            <name>Outcome_Approved</name>
            <conditionLogic>all</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Active</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Outcome_Rejected</name>
            <conditionLogic>all</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Needs_Care</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>

    <!-- UPDATE: Customer -> Active Customer (Approved branch) -->
    <recordUpdates>
        <description>Sets the linked Customer status to Active Customer following loan approval</description>
        <name>Update_Customer_Active</name>
        <label>Set Customer - Active Customer</label>
        <locationX>44</locationX>
        <locationY>264</locationY>
        <connector>
            <targetReference>Check_High_Value_Loan</targetReference>
        </connector>
        <filterLogic>all</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordUpdates>

    <!-- UPDATE: Customer -> Requires Further Action (Rejected branch) -->
    <recordUpdates>
        <description>Sets the linked Customer status to Requires Further Action following loan rejection</description>
        <name>Update_Customer_Needs_Care</name>
        <label>Set Customer - Requires Further Action</label>
        <locationX>308</locationX>
        <locationY>264</locationY>
        <connector>
            <targetReference>Check_High_Value_Loan</targetReference>
        </connector>
        <filterLogic>all</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Requires Further Action</stringValue>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordUpdates>

    <!-- DECISION 2: High-Value Loan?
         All three status branches converge here.
         Fires when LoanAmount__c > 250,000. -->
    <decisions>
        <description>Triggers audit log and manager alert when loan amount exceeds 250,000</description>
        <name>Check_High_Value_Loan</name>
        <label>High Value Loan?</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Under Threshold</defaultConnectorLabel>
        <rules>
            <name>Outcome_High_Value</name>
            <conditionLogic>all</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanAmount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Audit_Log</targetReference>
            </connector>
            <label>Over 250,000</label>
        </rules>
    </decisions>

    <!-- CREATE: AuditLog__c record -->
    <recordCreates>
        <description>Creates an AuditLog__c entry for the high-value loan status change event</description>
        <name>Create_Audit_Log</name>
        <label>Create Audit Log</label>
        <locationX>44</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Check_Manager_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectType__c</field>
            <value>
                <stringValue>LoanRequest__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType__c</field>
            <value>
                <stringValue>DATA_CHANGE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>HighValueStatusChange</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>WARN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OldValue__c</field>
            <value>
                <elementReference>$Record__Prior.LoanStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewValue__c</field>
            <value>
                <elementReference>$Record.LoanStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>AuditLog__c</object>
    </recordCreates>

    <!-- DECISION 3: Manager Assigned?
         Guard before creating the Task — skip if no manager is set. -->
    <decisions>
        <description>Only create a manager Task if AssignedManager__c is populated</description>
        <name>Check_Manager_Assigned</name>
        <label>Manager Assigned?</label>
        <locationX>44</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>No Manager - Skip</defaultConnectorLabel>
        <rules>
            <name>Has_Manager</name>
            <conditionLogic>all</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssignedManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Manager_Alert_Task</targetReference>
            </connector>
            <label>Has Manager</label>
        </rules>
    </decisions>

    <!-- CREATE: Manager Alert Task -->
    <recordCreates>
        <description>Creates a high-priority Task for the assigned manager to review the high-value loan request</description>
        <name>Create_Manager_Alert_Task</name>
        <label>Create Manager Alert Task</label>
        <locationX>44</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>High-Value Loan Request - Manager Approval Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.AssignedManager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>

    <status>Active</status>
</Flow>
